<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817356810391-1125hr16c2j6u2liucmp01p114gjedmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817356810391-1125hr16c2j6u2liucmp01p114gjedmd</string>
	<key>API_KEY</key>
	<string>AIzaSyAOYRIVwb7sDFeOhkbPQR3IjKdy8v0v708</string>
	<key>GCM_SENDER_ID</key>
	<string>817356810391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportManager</string>
	<key>PROJECT_ID</key>
	<string>sportmanager-2226b</string>
	<key>STORAGE_BUCKET</key>
	<string>sportmanager-2226b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817356810391:ios:2cae97a5308a7c6c7721d2</string>
</dict>
</plist>